<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

		<meta name="generator" content="Scirra Construct">
		<meta name="author" content="{{appSite}}">
		<meta name="description" content="{{appName}}">
		<meta name="google-site-verification" content="4qpMvriNAaSftO0CrmR99kFIUtYwO-HYpSCnmAz9Q2Y" />
		<link rel="manifest" href="{{asset('themes/base/appmanifest.json')}}">
		<link rel="apple-touch-icon" sizes="128x128" href="{{asset('themes/base/icons/icon-128.png')}}">
		<link rel="apple-touch-icon" sizes="256x256" href="{{asset('themes/base/icons/icon-256.png')}}">
		<link rel="apple-touch-icon" sizes="512x512" href="{{asset('themes/base/icons/icon-512.png')}}">
		<link rel="icon" type="image/png" href="{{asset('themes/base/icons/icon-512.png')}}">

		<link rel="stylesheet" href="{{asset('themes/base/style.css')}}">
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

	</head>
	<body data-turbo="false">

		{% block body %}{% endblock %}

		{% include "partials/base/_footer.html.twig" %}

		<script src="{{asset('themes/base/scripts/supportcheck.js')}}"></script>
		<script src="{{asset('themes/base/scripts/offlineclient.js')}}" type="module"></script>
		<script src="{{asset('themes/base/scripts/main.js')}}" type="module"></script>
		<script src="{{asset('themes/base/scripts/register-sw.js')}}" type="module"></script>

	</body>
</html>
