<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}{% endblock %}
	</title>
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

	<meta name="generator" content="Scirra Construct">
	<meta name="author" content="com.gamedistudio.com">
	<meta name="description" content="{{appName}}">
	<link rel="apple-touch-icon" sizes="128x128" href="{{asset('themes/base/icons/icon-128.png')}}">
	<link rel="apple-touch-icon" sizes="256x256" href="{{asset('themes/base/icons/icon-256.png')}}">
	<link rel="apple-touch-icon" sizes="512x512" href="{{asset('themes/base/icons/icon-512.png')}}">
	<link rel="icon" type="image/png" href="{{asset('themes/base/icons/icon-512.png')}}">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	{% block javascripts %}
	{% block importmap %}
	{{ importmap('app') }}
	{% endblock %}
	{% endblock %}

</head>

<body data-turbo="false">
	<nav class="navbar navbar-light bg-white border-bottom">
		<div class="container">
			<a class="navbar-brand" href="{{path('accueil')}}">{{appName}}</a>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-9 mx-auto">
				<div class="jumbotron">
					<h1 class="pt-4 h1"> {% block titre %}{% endblock %}</h1>
				</div>
				{% block body %}{% endblock %}
			</div>
		</div>
	</div>

	{% include "partials/base/_footer2.html.twig" %}

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>